* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E3F09B; /* açık yeşil nude */
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
    justify-content: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: #F5F5F2;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    cursor: pointer;
}

#reset-btn {
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
    height: 10vmin;
    width: 10vmin;
    margin-top: 20px;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

.msg-container {
    height: 100vmin;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hide {
    display: none;
}

#msg {
    color: black;
    font-size: 5vmin;
}
